<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Ring</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th>
                        <h2 class="page-title">Group</h2>
                    </th>
                    <th class="btn-action">
                        <a class="black-link" th:href="@{'/group/create'}" title="Create Group">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </th>
                    
                </tr>
            </table>

            <div th:if="${ errorMessage != null }" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>  
            </div>

            <div th:if="${ errorClass != null }" class="form-group">
                <div class="col-sm-10">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${errorClass}"></span>
                    </div>  
                </div> 
            </div> 

            <div>
                <table id="table_paginated" class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="width:50%">Name</th>
                            <th style="width:5%" class="no-sort no-search"></th>
                            <th style="width:5%" class="no-sort no-search"></th>
                            <th style="width:5%" class="no-sort no-search"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr th:each="job : ${jobs}" th:style="${!job.enabled} ? 'color: #767778' : ''">-->
                        <tr th:each="group : ${groups}">
                            <td th:text="${group.id}"></td>
                            <td th:text="${group.name}"></td>
                            <td>
                                <a th:href="@{'/group/view/' + ${group.id}}" class="glyphicon glyphicon-eye-open link-btn-ico-sm-3 black-link" title="View Group" >
                                </a>
                            </td>
                            <td>
                                <a th:href="@{'/group/edit/' + ${group.id}}" class="glyphicon glyphicon-pencil link-btn-ico-sm-3 black-link" title="Edit Group" >
                                </a>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button class="glyphicon glyphicon-trash link-btn-ico-sm-3 black-link" th:attr="onclick='modalDelete(' + ${group.id} + ',\'' + ${group.name} + '\');'" title="Delete Group" ></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--Begin delete modal-->
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalParentLabel"> Delete group: <span style="font-weight:bold" id="modalGroupName"></span></h4>
                        </div>
                        <div class="modal-body">
                            <span>Are you sure?</span>
                        </div>
                        <div class="modal-footer">
                            <a id="modalConfirmDel" class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm">
                                Yes
                            </a>
                            <a class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm" data-dismiss="modal" aria-label="Close">
                                No
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End delete modal-->
        </div>
        <script type="text/javascript" th:inline="javascript">
            /**
             * Show a modal delete. 
             * 
             * @param {type} id
             * @param {type} name
             * @returns {undefined}
             */
            function modalDelete(id, name) {
                document.getElementById("modalGroupName").innerText = name;
                document.getElementById("modalConfirmDel").href = 'delete/' + id;
                $("#modalDelete").modal();
            }
        </script>
    </body>
</html>